@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');  

.fileItem{

    height: 55px;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    background-color: white;
    transition: 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
}

.fileItem:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.fileItem>b{
    font-weight: normal;
    height: 100%;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    cursor: pointer;
}

.tableMain{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,.54);
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    
}

.tableMain>tbody>tr>td:hover{
    color: rgba(0,0,0,.70);
}

.tableMain>tbody>tr>td{
    transition: 0.2s ease-in-out;
    align-items: center;
    height: 50px;
}

.tdName>p{
    padding-left: 10px;
}

dialog{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 0px solid transparent;
    background-color: transparent;
    z-index: -10;
    overflow: hidden;
}

dialog>img{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);   
    width: auto;
    height: 70%;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease-in-out;
}

dialog>textarea{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);   
    width: auto;
    height: 70%;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease-in-out;
    background-color: white;
    color: black;
}

dialog>button{
    right: 0;
    top: 0;
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: #e05456 !important;
    color:white; 
    width: 150px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
    font-family: 'Poppins';
    animation: popIn ease-in-out 0.2s;
}

dialog>button::before{
    content: 'âŒ';
    padding-right: 5px;
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
    
}

dialog>button:hover{
    background-color: #d54b4d !important;

}

@keyframes fadeInUp {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}

